body{
    display:grid;
    grid-template-columns: 4fr 2fr;
}
.item1{
    background:url("./loginpgbg.png");
    background-size:cover;
    height:90vh;
    color:#000;
    padding:50px;
    padding-left:120px;
}
.item2{
    padding:50px;
    padding-top:200px;
}
.img1{
    justify-self:center;
}
h2{
    text-shadow:2px 2px 0 white;
}
input{
    width:550px;
    height:30px;
    outline:none;
    border:2px solid black;
}
h3{
    padding-top:10px;
}
html, body {
  overscroll-behavior: none;
}